<div class="main">
  <h1><span class="colour1">Cookies</span> <span class="colour2">Richarme</span></h1>

  <div class="wrapper">
    <div class="child">
      <%= @fortune %>
    </div>
  </div>

  <div class="portrait">
    <%= image_tag(@image, alt: 'Coucou !') %>
  </div>
</div>
